:root {
  --red: #f11818;
  --padding: 80px;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 2px;
}

body {
  margin: 0;
  padding: 0;
}

.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.inline-padding {
  padding-inline: var(--padding);
}
